<!-- PASAJERO -->

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <ion-card *ngIf="userData">
      <ion-card-content>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-card-title>Mi Perfil</ion-card-title>
        <ion-card-subtitle>{{ userData.nombre }}</ion-card-subtitle>
        <ion-card-subtitle>{{ userData.correo }}</ion-card-subtitle>
        <ion-button expand="full" [routerLink]="['/ped-viaje']" >Buscar Viaje</ion-button>
        <!-- Agrega otras propiedades del usuario según tus necesidades -->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Cantidad de viajes tomados:</ion-card-title>
        <ion-card-subtitle>Estudiante Pasajero</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Viajes completados: 15
        <br />
        Viajes cancelados: 3
        <br />
        Puntuación: 3,4
      </ion-card-content>
    </ion-card>
    <div *ngIf="userData === null">
      

    </div>
  </ion-content>
</div>

