<ion-content>
  <div class="ion-text-center"> 
          <img src="assets/Logo.png" >
      </div>
  <ion-list class="mi-circulo">
      
      <h5>Recuperar Contraseña</h5>
      <ion-item>
          <ion-input label="Usuario" placeholder="Ingrese Usuario"></ion-input>
      </ion-item>

      <h5>Se enviará un correo con los pasos a seguir para recuperar su contraseña</h5>

      <ion-button expand="block">Recuperar</ion-button>
      <ion-button expand="block" [routerLink]="['/home']">Regresar</ion-button>

  </ion-list>
</ion-content>