<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
</head>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>¿Dónde vamos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Agregar un menú desplegable con fondo blanco debajo del encabezado -->
  <ion-list>
    <ion-item>
      <ion-label>Ubicación Actual: Aquí</ion-label>
      <ion-select interface="popover" class="white-dropdown">
        <ion-select-option value="opcion1">Destino 1</ion-select-option>
        <ion-select-option value="opcion2">Destino 2</ion-select-option>
        <ion-select-option value="opcion3">Destino 3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="cuadrado">
  <div id="map"></div>
    <div class="info">
      <!-- Mantener el precio centrado -->
      <h3 style="text-align: center;">Precio: $4,500</h3>
      <!-- Mantener el botón -->
      <ion-card >
        <ion-card-header>
          Coordenadas Actuales
        </ion-card-header>
        <ion-card-content>
          <p>Latitud: {{ coordinates.coords.latitude }}</p>
          <p>Longitud: {{ coordinates.coords.longitude }}</p>
        </ion-card-content>
      </ion-card>
      <div class="rectangulo">
        <ion-button expand="block" [routerLink]="['/casita']" class="custom-button">Volver</ion-button>
      </div>
    </div>
  </div>
</ion-content>
