ion-avatar {
    position: relative;
    margin: auto;
    width: 97%;
    height: 64%;
}
img{
    position: relative;
    height: auto;
    margin: auto;
    display: flex;
    max-width: 70%; 
}

.text{
    font-size: 30px;
    color:  #ffffff;
    text-align: center;
    font-family: sans-serif;

}

.separacion{
    margin: 30px auto;
    font-family: Arial;
    color: white;
    text-align: center;
}

.us{
    font-size: 20px;
    color:  #ffffff;
    text-align: center;
    font-family: sans-serif;
}