#map {
  height: 100%;
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

ion-item {
  margin-bottom: 10px; // Modifica según sea necesario
}

ion-button.custom-button {
  --background: white;
  --color: #74AA9B;
  --border-radius: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: 16px;
  text-align: center;
}
