<ion-content>
    <div class="ion-text-center"> 
            <img src="assets/Logo.png" >
        </div>
    <ion-list class="mi-circulo">
        
        <h5>Bienvenido</h5>
        <ion-item>
            <ion-input label="Usuario" placeholder="Ingrese usuario" [(ngModel)]="usuario.nombre" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Contraseña" type="password" value="" [(ngModel)]="usuario.contrasena" ></ion-input>
        </ion-item>
        <ion-toggle labelPlacement="start">
            <span style="color: #74AA9B;">Recuérdame</span>
        </ion-toggle>

            <ion-button expand="block" (click)="enviar()" >Ingresar</ion-button>
            <ion-button expand="block" [routerLink]="['/rec-con']">Recuperar contraseña</ion-button>

    </ion-list>
</ion-content>